* {
    box-sizing: border-box;
}
 body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
 }
 .navbar{
    height: 90px;
    border-bottom: 2px solid #cccccc;
  }

#rigel{
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    
}
    * {
        box-sizing: border-box;
      }

.grid-container {
    display: grid;
    padding: 1px;
    grid-row-gap: 10px;
    grid-column-gap: 0px;
    grid-template-columns: auto;  
}   
.grid-container>div {
    padding:45px 0;
    font-size: 20px;
      }
.h1 {
    color: #4aaaa5;
}     
.border {
    border: 1px;
    background: #ffffff;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
} 

.about-me {
    color: #4aaaa5;
    font-weight: bold;
}
.page-footer {
    background: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    
}



.line {
    float: center;
}
.line1 {
    float:center;
}

.contact {
    align-content: center;
}