.rigel {
     box-shadow: black;
     width: 30px;
}

.about-me {
    color:  rgb(23, 146, 146);
    font-style: italic;
}
.headshot {
    float: right;
}
.container {
    border-inline-end-style: groove;
}

.page-footer  {
    background-color: rgb(23, 146, 146);
}

























.contact {
    color: rgb(23, 146, 146)
}